.page-footer {
  background-color: var(--mainBg);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: var(--mainLetterSpacing);
    text-transform: uppercase;
    color: var(--lightFontColor);
    margin-bottom: 20px;
  }
}

.page-footer__box {

  &:first-child {
    margin-right: 70px;
    flex-grow: 1;
  }
  &:nth-child(2) {
    margin-right: 93px;
  }
}


.address {

  &__list {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: var(--mainLetterSpacing);
  }

  &__map {
    text-decoration: none;
    color: var(--lightFontColor);
  }
}

.address__item {

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--mainTransitionTime) var(--mainTransition);

  &:focus,
  &:hover {
    color: var(--brandColor);
  }
}

